/* Reset */

*{
    box-sizing: border-box;
}

.container{
    padding: 100px 15px;
}

.title-h3{
    color: #FF7297;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

.title{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
}

.btn{
    background: linear-gradient(to right, #FF1D7D, #FF605E);
    padding: 20px 40px;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: .3s;
}

.btn:hover{
    transform: translateY(-4px);
    transition: .3s;
}

.paragraph{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    margin: 20px 0 40px 0;
    color: #545454;
    font-weight: 400;
    text-align: left;
    line-height: 2;
}

/* Reset end */

/* Seo implementation effectively start */


.seoimplement-step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seoimplement_step-item{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 20px 40px 10px #F6F5FFed;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    padding: 50px 20px;
    transition: .5s;
}


.seoimplement_step-item:hover{
    transform: translateY(-5px);
    border-bottom:  1px solid #FF1D7D;
    transition: .5s;
}

.seoimplement_item-tile{
    color: inherit;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: .5px;
}
/* Seo implementation effectively end */

/* Seo implementation start */
.seoimplement-img{
    transition: .5s;
}
.seoimplement-img:hover{
    transform: translatey(-10px);
    transition: .5s;
}

.seoimplemnt_title-h3{
    margin-top: 30px;
    text-align: left;
}

.seoimplemnt_title-h2{
    text-align: left;
}

.seoimplemnt_paragraph{
    text-align: left;
}

.howtoimplemet-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howto_implement-step--item{
    font-size: 18px;
    color: inherit;
    font-weight: 600;
    padding: 30px 0;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center top -5px;
    background-size: 20px;
}

/* Seo implementation end */

/* Seo implementation efficiently start */
.seoimplementeffic{
    background-color: #04122D;
}

.seoimplementeffic-title{
    color: #fff;
    margin-bottom: 20px;
}

.seoimplementeffic-paragraph{
    color: #D2D3D5;
    text-align: center;
    margin-bottom: 10px;
}

.seoimplementeffic_step-item{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
    padding: 30px 20px;
    transition: .5s;
}

.step-dest{
    background: linear-gradient(to right, #FF1284, #FF6F56);
}

.seoimplementeffic_step-item:hover{
    transform: translateY(-5px);
    border-bottom:  1px solid #FF1D7D;
    transition: .5s;
}

.seoimplementeffic-step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seoimplementeffic-number{
    font-size: 30px;
    font-weight: 600;
}

.number-dest{
    color: #fff;
}

.seoimplementeffic_paragraph-desc{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.paragraph-dest{
    color: #fff;
}

.seoimplementeffic-img{
    width: 50px;
    margin-bottom: 15px;
}
/* Seo implementation efficiently end */

/*Section Impress Upon Search Engines start */
.impress-img{
    transition: .5s;
}

.impress-img:hover{
    transform: translateX(-10px);
    transition: .5s;
}

.impress_title-h3, .impress_title-h2{
    text-align: left;

}
/*Section Impress Upon Search Engines end */